:root{
    --bggradient: linear-gradient(to bottom, #6b9bf3, #fafafa);
}

.bg{
    background: #110252;
    background: var(--bggradient);
}

.form-container{
    background: #fff;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(87, 86, 86);
    position: relative;
    top: 1vh;
}
.container-fluid .links {
    margin-right: 30px;
    top: 15vh;
    position: relative;

}
.info{
    position: relative;
    top: 0vh;
}